<!DOCTYPE html>
<html>
  <head>
    <title>Tshirt Mania</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= nav_bar brand: "Tshirt Mania", brand_link: root_url %>
    <div class="container">
      <%= yield %>
   </div>
  </body>
</html>
